<h2>Index</h2>
<div class="container">
  <% @biens.each do |bien| %>
      <div class="card">
        <%= bien.address %>
        <%= bien.loyé%>
        <%#= bien.picture%>
        <%#=bien.meublé?%>
        <%#=bien.saisonnié?%>
        <%#=bien.loué?%>
        <div class="action-bien">
          <%= link_to "voir l'appartement", biens_path(bien), class: "secondary-button"%>
        </div>
      </div>
  <% end %>
</div>
