<h2>Show</h2>
<div class="container">
  <div class="content">
    <div class="photo">
      <%#=@bien.photo%>
    </div>
    <div class="address">
      <%=@bien.address%>
    </div>
    <div class="loyé">
      <%=@bien.loyé%>
    </div>
    <div class="meublé">
      <%=@bien.meublé%>
    </div>
    <div class="disponible">
      <%=@bien.disponible%>
    </div>
  </div>
</div>
